<% layout("/layouts/boilerplate")%>

<h3 class="head-gagan">
    About Creater
    <h4>Gagan Gandhi</h4>
</h3>
<p class="para-gagan">
    Gagan is an inspiring individual with an incredible journey marked by resilience, determination, and innovation. Born in Delhi to a Punjabi family, he has faced life's challenges with unwavering courage and emerged stronger. From pursuing a diploma in mechanical engineering to excelling in his BTech in Computer Science, Gagan's story reflects his relentless pursuit of knowledge and growth. His curiosity spans web development, data structures, and AI models, showcasing his passion for creating impactful solutions. A self-driven learner, he has mastered technologies like React, Node.js, Tailwind CSS, and MongoDB, while also diving into Java and its libraries. Beyond academics, Gagan harbors a deep love for India's culture and aspires to bridge global connections through entrepreneurial efforts. With over 150 LeetCode problems solved, a growing portfolio of innovative projects, and a vision to explore AI, Gagan exemplifies ambition and dedication in everything he undertakes.
</p>